:root {
    --background: #aeaeae;
    --red: rgb(255, 98, 51);
    --light-gray: #eeeeee;
    --dark-gray: #444443;
  }

  html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(211, 114, 84);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--dark-gray);
    background-image: url("feed-setup.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Karla", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 3px solid black;
    position: relative;
    width: 325px;
    height: 590px;
    background: rgba(116, 116, 116, 0.4);
    padding: 1em;
}

.instructions {
    color: white;
    text-align: center;
    padding: 0.5em;
}

.copyright {
    color: gray;
    padding: 0.5em;
}

form {
    font-size: 20px;
}

label {
    padding: 0.2em 0 0 0.2em;
    text-align: left;
    float: left;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    background-color: transparent;
    transition: 0.25s ease;
}

input::placeholder {
    font-size: 15px;
}

.calculator {
    margin: 2em;
    min-width: 200px;
    min-height: 175px;
    background-image: linear-gradient(to right, var(--light-gray), var(--red));
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.instructions {
    margin-top: 1em;
    padding: 0.5em;
}

h1 {
    color: black;
    text-shadow: #FC0 1px 0 3px;
}

button {
    border: 1px solid #FC0;
    margin-bottom: 10px;
    padding: 5px;
    height: 2.6em;
    width: 8em;
    font-size: 0.9rem;
    background-color: var(--red);
    color: var(--dark-gray);
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: white;
    text-shadow: #FC0 1px 0 10px;
}

#resetButton {
    width: 5em;
    height: 2em;
    margin: 1em 0 1em 0;
}