:root {
    --background: 174, 174, 174;
    --purple: 186,81, 155;
    --light-gray: 242, 242, 242;
    --dark-gray: 68, 68, 67;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(var(--dark-gray));
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: rgba(var(--dark-gray));
    background-image: url("tube-feed-supplies-1K.jpg");
    background-size: cover;
    background-position: center;
    font-family: "Karla", Tahoma, Geneva, Verdana, sans-serif;
}

body.dark-mode {
    background-image: url("tube-feed-supplies-1K-invert.jpg");
}

#darkModeToggle {
    margin-top: 3em;
    font-size: 13px;
    width: 7em;
    height: auto;
    padding: 0.5em;
}

.background-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50vw;
    height: 90vh;
    background-color: rgba(46, 1, 65, 0.5);
    border-radius: 5em;
}

.container {
    border: 3px solid black;
    position: relative;
    width: 325px;
    height: 590px;
    background: rgba(var(--dark-gray), 0.4);
    padding: 1em;
}

.instructions {
    color: white;
    text-align: center;
    padding: 0.5em;
}

.copyright {
    color: rgba(var(--light-gray));
    padding: 0.5em;
}

.about {
    margin-top: -20px;
    color: rgba(var(--light-gray));
}

a {
    color: white;
}

form {
    font-size: 20px;
}

label {
    padding: 0.2em 0 0 0;
    margin: 0.4em;
    text-align: left;
    float: left;
    font-size: 15px;
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    background-color: transparent;
    transition: 0.25s ease;
}

input::placeholder {
    font-size: 15px;
    color: black;
}

.calculator {
    margin: 2em;
    min-width: 200px;
    min-height: 175px;
    background-image: linear-gradient(to right, rgba(var(--light-gray)), rgba(var(--purple)));
    padding: 0 1em 1em 1em;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.instructions {
    margin-top: 1em;
    padding: 0.5em;
}

h1 {
    color: rgba(var(--light-gray));
    border: 1px #FC0 solid;
    background-color: rgba(var(--dark-gray), 0.4);
    padding: 5px;
}

label > a {
    text-decoration: none;
    color: rgba(var(--dark-gray));
    transition: transform .2s;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #FC0;
    text-align: center;
    height: 2.6em;
    width: 8em;
    background-color: rgba(var(--purple), 0.9);
    color: rgba(var(--light-gray));
    border-radius: 5em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#btn, #resetButton {
    font-size: 13px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 0.3em;
}

#btn {
    margin-bottom: 1em;
}

#resetButton {
    text-align: center;
    height: 2em;
    width: 5.5em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: white;
    text-shadow: #FC0 1px 0 10px;
}

#milli-info, #hours-info, #milperhour-info {
    position: relative;
    display: inline-block;
}

#milli-info > .tooltip, 
#hours-info > .tooltip, 
#milperhour-info > .tooltip  {
    visibility: hidden;
    background-color: black;
    color: #fff;
    width: 250px;
    height: auto;
    font-size: 13px;
    text-align: start;
    padding: 15px 20px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translate(-17%);
    opacity: 0;
    transition: opacity 0.3s;
}

#milli-info:hover > .tooltip, 
#hours-info:hover > .tooltip, 
#milperhour-info:hover > .tooltip {
    visibility: visible;
    opacity: 1;
}

.input-title-text {
    font-size: 15px;
    text-align:start;
    padding: 3px;
    margin-top: .5em;
}