@media screen and (max-width: 600px) {
    body {
        min-height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-image: url("feed-setup.jpg");
    background-size: cover;
    background-position: center;
    }

    .container {
        height: 100vh;
    }

    .calculator {
        width: fit-content;
    }

}