@media screen and (max-width: 600px) {
    body {
        min-height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .container {
        height: 100vh;
    }
    
    .calculator {
        width: fit-content;
    }
    }
    
    @media screen and (max-width: 800px) {
        .background-rectangle {
            background-color: rgba(0,0,0,0);
        } 
    }
    
    @media screen and (max-height: 800px) {
        .background-rectangle {
            background-color: rgba(0,0,0,0);
        } 
    
    }