body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(165, 164, 165), rgb(88, 85, 87));
}

#about-app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 90%;
}

a {
    color: white;
}

#image {
    width: 40%;
    margin-right: -20px;
}

.text {
    width: 60%;
    margin-left: -20px;
}

#text {
    border: 1px solid black;
    padding: 10px;
    
}

#seb {
    border: 1px solid black;
    border-radius: 50%;
    width: 70%;
}