@media screen and (max-width: 600px) {
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


    #about-app {
        display: block;
        flex-wrap: wrap;
            
        }

    #seb {
        width: 60vw;
        height: auto;

    }

    .text {
        width: 80vw;
        text-wrap: wrap;
        margin-left: -35px;
    }
}
